{#
/**
 * This is strictly an exmaple file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="text-long">
	<p>This is a style test for HTML list elements within a text field,
		such as might be produced by a wysiwyg editor. </p>

	<ul>

		<li>
			This is the first item in the unordered list.
		</li>

		<li >
			<strong>This is the optional label</strong> And here is the item that goes with the label.
		</li>

		<li>
			Here's the third item.
		</li>

		<li>
			And here's the last item.
		</li>
	</ul>

	<dl>

		<dt>Definition List</dt>
		<dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>

		<dt>This is a term.</dt>
		<dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>

		<dt>Here is another term.</dt>
		<dd>And it gets a definition too, which is this line.</dd>

		<dt>Here is one last term.</dt>
		<dd>With the final definition.</dd>
	</dl>

	<ol>

		<li>
			This is the first item in the ordered list.
		</li>

		<li>
			<strong>This is the optional label</strong>     And here is the item that goes with the label.
		</li>

			<li>
				And this item is going to contain another ordered list!

				<ol>

					<li>
						This is the first item in the ordered sub-list.
					</li>

					<li>
						This is the second item in the ordered sub-list.
					</li>
				</ol>

			</li>

			<li>
				This is the last item in the ordered list that has a sub-list.
			</li>
		</ol>
</div><!--end .text-long-->
