{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<div class="text-long">
<h1>H1 heading</h1>
	<p>This is a style test for HTML headings within a text field,
		such as might be produced by a wysiwyg editor. </p>
<h2>H2 heading</h2>
<h3>H3 heading</h3>
<h4><a href="https://northwesttortoise.org">H4 heading with a link</a></h4>
<h5>H5 heading</h5>
<h6><a href="https://northwesttortoise.org">H6 heading with a link</a></h6>
</div> <!--end .text-long-->
