.blockquote,
blockquote {
  border-left: solid 3px var(--color--border--somewhat-light);
  letter-spacing: 0.01rem;
  margin-left: minima-space(100);
  padding-right: minima-space(200);
}

.blockquote-content {
  display: block;
  font-size: 1.5em;
  margin: 0 2em;
  width: 100%;

  &::before,
  &::after {
    display: inline-block;
    font-size: 2em;
    line-height: 0.5em;
    position: relative;
  }

  &::before {
    content: '\201c';
    margin-left: -1.75em;
    padding-left: 1em;
    top: 0.25em;
  }

  &::after {
    content: '\201d';
    top: 0.75em;
    margin-right: -1.75em;
  }
}

.blockquote-source {
  display: block;
  font-size: 2em;
  margin-top: minima-space(50);

  &::before {
    content: '\2013';
    padding-left: 1.5em;
  }
}
