<table class="minima-spacing-demo--table">
  <thead>
  <tr>
    <th>design token</th>
    <th>class</th>
    <th>rem</th>
    <th>px</th>
    <th>example</th>
  </tr>
  </thead>
  <tbody>
  <tr><td>25</td><td></td><td>0.125</td><td>2</td><td><div class="minima-spacing-demo--25"></div></td></tr>
  <tr><td>50</td><td></td><td>0.25</td><td>4</td><td><div class="minima-spacing-demo--50"></div></td></tr>
  <tr><td>100</td><td></td><td>0.5</td><td>8</td><td><div class="minima-spacing-demo--100"></div></td></tr>
  <tr><td>150</td><td></td><td>0.75</td><td>12</td><td><div class="minima-spacing-demo--150"></div></td></tr>
  <tr><td>200</td><td></td><td>1.0</td><td>16</td><td><div class="minima-spacing-demo--200"></div></td></tr>
  <tr><td>250</td><td></td><td>1.25</td><td>20</td><td><div class="minima-spacing-demo--250"></div></td></tr>
  <tr><td>300</td><td></td><td>1.5</td><td>24</td><td><div class="minima-spacing-demo--300"></div></td></tr>
  <tr><td>400</td><td></td><td>2.0</td><td>32</td><td><div class="minima-spacing-demo--400"></div></td></tr>
  <tr><td>500</td><td></td><td>2.5</td><td>40</td><td><div class="minima-spacing-demo--500"></div></td></tr>
  <tr><td>600</td><td></td><td>3.0</td><td>48</td><td><div class="minima-spacing-demo--600"></div></td></tr>
  <tr><td>700</td><td></td><td>3.5</td><td>56</td><td><div class="minima-spacing-demo--700"></div></td></tr>
  <tr><td>800</td><td></td><td>4.0</td><td>64</td><td><div class="minima-spacing-demo--800"></div></td></tr>
  <tr><td>1000</td><td></td><td>5.0</td><td>80</td><td><div class="minima-spacing-demo--1000"></div></td></tr>
  <tr><td>1200</td><td></td><td>6.0</td><td>96</td><td><div class="minima-spacing-demo--1200"></div></td></tr>
  <tr><td>n/a</td><td>v-spacing--standard</td><td>2.5 (desktop) 2.0 (mobile)</td><td>40 (desktop) 32 (mobile)</td>
    <td><div class="minima-spacing-demo--standard"></div></td>
  </tr>
  </tbody>
</table>
