.header {
  margin-bottom: 4em;

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: minima-base-font-size() 0;
  }

  &__branding {
    margin-right: minima-base-font-size();
    max-width: 300px;
  }
}
