{% set header__base_class = 'header' %}

<header {{ bem(header__base_class, [], '', ['v-spacing--standard']) }}>
  <div {{ bem('inner', [], header__base_class) }}>
    {{ content }}
  </div>
</header>
