{#
/**
 * This is strictly an example file to demonstrate markup in Storybook.
 * It is not intended to be included in any other component.
 */
#}
<p>This is a style test page for HTML link a elements,
  such as might be produced by a wysiwyg editor or handwritten html.
</p>
<p>
  <a href="https://github.com/minima-ds/minima-design-system">This is a simple "a" tag</a>
</p>
<p>
  <a target="_blank" href="https://github.com/minima-ds/minima-design-system">This link opens in a new tab</a>
</p>
<p>
  <a class="link--prominent" href="https://github.com/minima-ds/minima-design-system">This link is prominent</a>
</p>
<p>
  <a target="_blank" dir="rtl" href="https://github.com/minima-ds/minima-design-system">This link is right to left</a>
</p>
